@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.split-bg {
  background: linear-gradient(
    to bottom,
    black 0%,
    black 50%,
    white 50%,
    white 100%
  );
}

.scroll-content {
  /* 165deg = 180deg - 15deg   */
  background: linear-gradient(
    to top,
    black 0%,
    black 50%,
    white 50%,
    white 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.black-square {
  width: 140px;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  background-color: black;
  text-align: center;
}

.white-square {
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  color: black;
  background-color: white;
  width: 140px;
  text-align: center;
}
